<h2>Wishlist</h2>			

 <% if @myitems.empty? %>
	<p>You currently have no items in your wishlist.</p>
	<p><%= link_to 'Start searching now! -->', search_path %>
<% else %>
	<div id="user_<%=current_user.id%>_wishlist">
		<%= render :partial => "wishlist", :locals => {:items => @myitems}%>
	</div>
<% end %>
