<h2>Wishlist</h2>			

<ul class="archive">
  <% unless @myitems.empty? %>
		<%= render :partial => 'dashboard/wishlist', :collection => @myitems, :as => :myitem %>		
	<% else %>
		<p>You currently have no items in your wishlist.</p>
		<p><%= link_to 'Start searching now! -->', :controller => 'dashboard', :action => 'search' %>
	<% end %>
</ul>