<h2><a href="#">Wishlist</a></h2>
	
<div class="navigation clear">						
	<div><a href="#" >&laquo; Older Entries</a></div>
	<div><a href="#" >Newer Entries &raquo; </a></div>												
</div>					

<ul class="archive">
  <% unless @items.nil? %>
		<%= render :partial => 'dashboard/wishlist', :collection => @myitems, :as => :myitem %>		
	<% end %>
</ul>

<div class="navigation clear">						
	<div><a href="#" >&laquo; Older Entries</a></div>
	<div><a href="#" >Newer Entries &raquo; </a></div>												
</div>		