<h2><a href="index.html">Results</a></h2>
	
	<div class="navigation clear">						
		<div><a href="#" >&laquo; Older Entries</a></div>
		<div><a href="#" >Newer Entries &raquo; </a></div>												
	</div>

<ul class="archive">
	<li>
		<div class="post-title"><strong><a href="index.html">Suspendisse bibendum.</a></strong></div>
		<div class="post-details">Description of product - not available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="index.html">Lorem ipsum dolor sit amet.</a></strong></div>
				<div class="post-details">Description of product - available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="index.html">In tristique orci porttitor ipsum.</a></strong></div>
				<div class="post-details">Description of product - not available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="index.html">Donec libero. Suspendisse bibendum.</a></strong></div>
				<div class="post-details">Description of product - not available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="index.html">Donec libero. Suspendisse bibendum.</a></strong></div>
				<div class="post-details">Description of product - available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="index.html">Donec libero. Suspendisse bibendum.</a></strong></div>
				<div class="post-details">Description of product - available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="index.html">Donec libero. Suspendisse bibendum.</a></strong></div>
				<div class="post-details">Description of product - available<a href="#"><span class="post-details" style="float:right;margin-right:80px">Add to Wishlist</span></a></div>
	</li>
</ul>

<div class="navigation clear">						
	<div><a href="#" >&laquo; Older Entries</a></div>
	<div><a href="#" >Newer Entries &raquo; </a></div>												
</div>