<h2><a href="#">Wishlist</a></h2>
	
<div class="navigation clear">						
	<div><a href="#" >&laquo; Older Entries</a></div>
	<div><a href="#" >Newer Entries &raquo; </a></div>												
</div>					

<ul class="archive">
	<li>
		<div class="post-title"><strong><a href="#">Suspendisse bibendum.</a></strong></div>
		<div class="post-details">Added on August 27, 2009 | available<a href="#"><span class="post-details" style="float:right;margin-right:110px">Remove</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="#">Lorem ipsum dolor sit amet.</a></strong></div>
		<div class="post-details">Added on August 25, 2009 | not available<a href="#"><span class="post-details" style="float:right;margin-right:110px">Remove</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="#">In tristique orci porttitor ipsum.</a></strong></div>
		<div class="post-details">Added on August 20, 2009 | available<a href="#"><span class="post-details" style="float:right;margin-right:110px">Remove</span></a></div>
	</li>
	<li>
		<div class="post-title"><strong><a href="#">Donec libero. Suspendisse bibendum.</a></strong></div>
		<div class="post-details">Added on August 20, 2009 | available<a href="#"><span class="post-details" style="float:right;margin-right:110px">Remove</span></a></div>
	</li>
</ul>			

<div class="navigation clear">						
	<div><a href="#" >&laquo; Older Entries</a></div>
	<div><a href="#" >Newer Entries &raquo; </a></div>												
</div>		