<h2><%= "#{current_user.login}'s Wishlists"%></h2>
<p>
	All of your wishlists are listed below. Click 'New' to the right to create a list.
</p>
<div id="wishlists_main">
	<% if @wishlists.empty? %>
		<h4>You don't have any wishlists at this time.</h4>
	<% else %>
		<%= render :partial => "wishlists_main" %>
	<% end %>
</div>
